* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: url(https://i.pinimg.com/originals/18/5e/95/185e95b43fb077a2e7a0133a83fad0cc.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--------------------HEADER-NAME--------------------*/
h1 {
  text-align: center;
  font-size: 10rem;
  padding-top: 4rem;
}

h2 {
  font-family: "Acme", sans-serif;
}

.primary-header {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  font-size: 9rem;
  padding-bottom: 3rem;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  margin-top: 3rem;
  letter-spacing: 2rem;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}

.secondary-header {
  font-family: "Julius Sans One", sans-serif;
  font-size: 5rem;
  line-height: 200%;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  animation-delay: 1s;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}

.fadeOrder{
          display: inline-block;
}

.centering{
display: flex;
justify-content: center;
} 


/*--------------------SOCIAL-LINKS-CONTACT--------------------*/
.footer-social-links {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  animation-fill-mode: backwards;
  animation-delay: 3.5s;
}

.footer-social-links a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  position: relative;
  margin: 0 0.7rem;
  text-align: center;
  display: inline-block;
  color: #111;
  -webkit-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.footer-social-links a i,
.footer-social-links a span {
  position: relative;
  top: 0.2rem;
  left: 0.1rem;
  font-size: 3rem;
}

.footer-social-links a:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid #111;

  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition: all .5s cubic-bezier(0.3, 0.1, 0.58, 1);
  -moz-transition: all .5s cubic-bezier(0.3, 0.1, 0.58, 1);
  -o-transition: all .5s cubic-bezier(0.3, 0.1, 0.58, 1);
  -ms-transition: all .5s cubic-bezier(0.3, 0.1, 0.58, 1);
  transition: all .5s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.footer-social-links a:hover {
  color: #fff;
  transform: scale(1.2);
}

.footer-social-links a:hover:before {
  background: #111;
  transform: scale(1.2);
}

/*------------PICTURE FRAME------------*/

.picture-frame {
  background-color: rgba(190, 190, 187, 0.247);
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 0.2rem;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.25) inset,
    0 0.5rem 1rem 2rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  top: 20rem;
  height: 50rem;
  width: 30rem;
  position: relative;
  display: flex;
  margin:auto;
  margin-bottom: 30rem;
}

.picture-frame:before {
  border-radius: 0.2rem;
  bottom: -2vmin;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}

.picture-in-frame {
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  height: 100%;
  width: 100%;
}

/*--------------------NAVIGATION BAR--------------------*/
ul.menu {
  /* display: inline-block; */
  list-style-type: none;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 700;
  position: fixed;
}

.fa,
.fas {
  font-size: 1.5rem;
}

.side {
  font-size: 1.5rem;
  color: black;
}

li.menu_list {
  height: 8.5rem;
  width: 9rem;
  position: relative;
}

li.menu_list .front,
a.side {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.6rem;
  width: 100%;
  padding: 3rem;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s linear;
  top:-20rem;
}

li.menu_list .front {
  background-color: rgb(46, 37, 37);
  color: #ffffff;
  transform-origin: 0 0;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

a.side {
  /* background-color: #aaa8a8;
  color: rgb(8, 8, 8); */
  background-color: rgb(46, 37, 37);
  color: #ffffff;
  transform-origin: 0 0 8.5rem;
  transform: rotateY(-90deg);
}

li.menu_list:hover a.side {
  transform: rotateY(0deg);
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

li.menu_list:hover .front {
  transform: rotateY(90deg);
}

/*--------------------ABOUT ME--------------------*/
.about-me-container .box {
  position: relative;
  width: 100rem;
  height: 95rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  /* -webkit-box-reflect: below 1.5rem
  linear-gradient(tranparent, transparent, rgba(0, 0, 0, 0.2)); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.about-me-title{
  text-align: center;
  font-size: 5rem;
  text-shadow:  .1rem .1rem rgb(95, 95, 95);
}


.about-me-info {
  font-family: "Julius Sans One", sans-serif;
  line-height: 1.3;
  font-weight: 800;
  text-shadow:  .1rem .1rem rgb(95, 95, 95);
}

.about-me-container .box .content {
  position: absolute;
  padding: 2rem;
  /* transition: 0, 5s; */
  width: 62rem;
  top: -6.5rem;
}

.about-me-container .box:before {
  content: " ";
  position: absolute;
  top: -2rem;
  width: 100%;
  height: 100%;
  border: 0.4rem solid rgb(112, 112, 112);
  background: rgb(148, 148, 148,.5);
  filter: url(#wavy);
}

.CV{
  margin-top: 2rem;
  text-align: center;
  
}

/* .about-me-container .box:hover:before {
  background: rgb(255, 255, 255);
  transition: 2s;
}

/* .about-me-container .box:hover {
  color: rgb(0, 0, 0);
}

.about-me-container .box:after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 30rem;
  height: 100%;
  border: 0.4rem solid rgb(145, 145, 145);
  border-right: none;
  filter: url(#wavy);
  background: rbga(255, 255, 255, 0.1);
}

/*--------------------Skill-Section--------------------*/

.wrapper{
    width: 100rem;
    min-width: 59rem;
    display: flex;
    margin:auto;
}

.container{
    width: 100%;
    padding: 3rem 3rem 5rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.5rem);
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    box-shadow: -.5rem .5rem .4rem #000000;
} 

.container {
    font-family: "Julius Sans One", sans-serif;
    /* text-shadow:  -0.5rem .1rem .4rem #000000; */
    font-weight: 800;
    font-size: 3rem;
    text-decoration: underline;
}

.card-img{
  width: 5rem;
  height: 5rem;  
}

.skills:not(:last-child){
    margin-bottom: 3rem;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar{
    position: relative;
    border: .2rem solid #000000;
    border-radius: 2rem;
}
.bar div{
    position: relative;
    width: 0;
    height: .9rem;
    border-radius: 1rem;
    background-color: #000000;
}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 80%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 80%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 10%;
    }
}

#bootstrap-bar{
    animation: bootstrap-fill 2s forwards;
}
@keyframes bootstrap-fill{
    100%{
        width: 20%;
    }
} 

#github-bar{
    animation: github-fill 2s forwards;
}
@keyframes github-fill{
    100%{
        width: 30%;
    }
} 

.skills-title {
  font-size: 7rem;
  text-align: center;
  height: 5rem;
  text-decoration: underline;
  transition: 2s;
  margin-top: 25rem;
  margin-bottom: 7rem;
}






/*--------------------PROJECTS--------------------*/

.project-section{
  height: 60rem;
  width: 100rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.5rem);
    border: .2rem solid rgba(0, 0, 0, 1);
    border-radius: 1rem;
    margin: auto;
    border: .2rem solid;
    box-shadow: -.5rem .5rem .4rem #000000;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}





.project-text{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  border: 2px solid black;
  padding:2rem;
  margin:1rem;
  background-color: rgb(248, 71, 71);
  border-radius: 1.5rem;
}

.project-text:hover{
  transform: scale(1.1);
  transition: .4s;
  background-color: rgb(4, 204, 4);
  color: white;
  border: 2px solid rgb(248, 71, 71);
  text-decoration: underline;
}

.link:link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.title{
  font-size: 3rem;
  text-decoration: underline;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 800;
  display: inline-block;
}

.project-icon{
  font-size: 5rem;
  margin-left: 5rem;
}

.section , .section1 , .section2{
  margin-top: 5rem;
  line-height: 4rem;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (min-width: 992px) {
}

/* Smartphones start somewhere around here
@media (min-width: 300px) {
}

/* You might do landscape phones here if your content seems to need it
@media (min-width: 450px) {
}

/* Starting into tablets somewhere in here
@media (min-width: 600px) {
}

/* Perhaps bigger tablets
@media (min-width: 750px) {
}

/* Desktop screen or landscape tablet 
@media (min-width: 900px) {
}

/* A bit bigger if you need some adjustments around here
@media (min-width: 1100px) {
}

/* Widescreens 
@media (min-width: 1500px) {
}




