body {
  background-color: black;
}

.Stopwatch {
  position: absolute;
  height: 600px;
  width: 600px;
  background-color: rgb(3, 242, 250);
  border-radius: 50%;
  top: 4%;
  left: 4%;
}

img {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 196px;
  bottom: 70%;
}

.Glow {
  position: relative;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff, -20px 0 80px #f0f, 20px 0 80px #0ff,
    inset 0 0 50px #fff, inset 50px 0 80px #f0f, inset -50px 0 80px #0ff,
    inset 50px 0 300px #f0f, inset -50px 0 300px #0ff;
  animation: pulsate 6s linear infinite;
  /* Met deze glow effect ben ik het meest tevreden mee. 
Het glow effect vloeit door de border heen met verschillende kleuren. */

  /* inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;  Een groter effect van een glow effect*/

  /* 0 0 60px 30px rgb(245, 59, 59),
  0 0 100px 60px rgb(235, 31, 235),
  0 0 140px 90px rgb(5, 252, 252); Een ander versie van glow effect */
  margin-top: 5%;
  left: 20%;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 20px #fff, 20px 0 80px #f0f, -20px 0 80px #0ff,
      inset 0 0 50px #fff, inset -50px 0 80px #f0f, inset 50px 0 80px #0ff,
      inset -50px 0 300px #f0f, inset 50px 0 300px #0ff;
  }
}

#start {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: green;
  border-radius: 50%;
  left: 160px;
  top: 70%;
}



#stop {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: orange;
  border-radius: 50%;
  left:260px;
  top: 70%;
}

#reset {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  left:360px;
  top: 70%;
}

span{
    top: 30px;
    left: 20px;
    font-family: fantasy;
    width: 27px;
}

.Timer{
  position: absolute;
  color: white;
  left: 35%;
  top:40%;
  font-size: 50px;
}
